body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-stretch: expanded;
}
.header{
background-color: lightgray;
padding: 15px;
margin: 10p;
width: 75%;
margin-left: 100px;
}
h1 , p {
text-align: center;
}
img{
    width: 70%;
    margin-left: 146px;
}